<!--Bloque de directivas de Atributo-->

<p [ngStyle]="{color: 'tomato', fontWeight: 'bolder'}">Lista de elementos: </p>

<p ngClass="underlined">Aquí vamos a iterar sobre una lista y mostrar varios elementos</p>

<p [ngClass]="['underlined','small']">Aún no tienes elementos en la lista</p>

<p [ngClass]="{underlined: false, small:true}">Te recomendamos crear un elemento</p>

<!--Bloque de directivas estructurales-->
<!-- 
<p *ngIf="cargando">
    Cargando...
</p> -->

<button (click)="cambiarCargadno()">{{ cargando ? 'Terminar Carga' : 'Iniciar Carga' }}</button>

<ng-container *ngIf="!cargando;else templateEspera">
    <p>Todo Listo</p>
</ng-container>

<ng-template #templateEspera>
    <p>Cargando...</p>
    <p>Espere a que termine el proceso</p>
</ng-template>

<!--Bloque para explicar ngFor-->
<!--Iteramos la lista-->
<div *ngFor="let producto of listaElementos; let i = index; let even = even">
    <!--Ambito de for donde tenemos acceso a cada elemento de la lista-->
    <div [ngStyle]="even?{backgroundColor: 'blue', color: 'white'}: {backgroundColor:'green', color:'white'}" class="producto">
        <p>ID: {{ i+1 }}</p>
        <p>{{ producto.nombre }} - {{ producto.precio }} $</p>
        <p>{{ producto.descripcion }}</p>
    </div>
</div>

<!--Bloque para entender ngSwitch-->
<div [ngSwitch]="opcion">
    <p [id]="1" *ngSwitchCase="1">Haz escogido la Opción 1</p>
    <p [id]="2" *ngSwitchCase="2">Haz escogido la Opción 2</p>
    <p [id]="3" *ngSwitchCase="3">Haz escogido la Opción 3</p>
    <p [id]="4" *ngSwitchCase="4">Haz escogido la Opción 4</p>
    <p *ngSwitchDefaul class="cerrar">Ninguna de las opciones valida</p>
</div>

<!--Seleccion de opción por el usuario-->
<div>
    <input type="radio" name="opcion" (click)="escojeropcion(1)"/> Opción 1
    <input type="radio" name="opcion" (click)="escojeropcion(2)"/> Opción 2
    <input type="radio" name="opcion" (click)="escojeropcion(3)"/> Opción 3
    <input type="radio" name="opcion" (click)="escojeropcion(4)"/> Opción 4
    <input type="radio" selected="selected" name="opcion" (click)="escojeropcion(0)"/> Ocultar
</div>

<!--Podemos concatenar directivas-->
<p>Productos de más de $10</p>
<div *ngFor="let producto of listaElementos; let i = index; let even = even">
    <!--Ambito de for donde tenemos acceso a cada elemento de la lista-->
    <!--Solo renderizar solo los productos de más de 10 en precio-->
    <div *ngIf="producto.precio>10" [ngStyle]="even?{backgroundColor: 'blue', color: 'white'}: {backgroundColor:'green', color:'white'}" class="producto">
        <p>ID: {{ i+1 }}</p>
        <p>{{ producto.nombre }} - {{ producto.precio }} $</p>
        <p>{{ producto.descripcion }}</p>
    </div>
</div>